.drop-file {
    position: relative;
    width: 18rem;
    height: 14rem;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebe6e3;
}
.drop-file input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer
}
.drop-file:hover,
.drop-file.dragover {
    background-color: #cccccc;
}
.drop-file-input-label {
    text-align: center;
    padding: 10px
}

